
.pageintaion ul{
    padding: 0;
    margin: 0;
    direction: ltr;
    list-style: none;
    display: flex;
  }
  
  .pageintaion a{
    color: black;
    text-decoration: none;
  }
  .pageintaion li.page-current a{
    color: blue;
  }

  .page-item{
      padding: 10px;
      border-right: 1px solid #32383e;
     
  }

  a{
    cursor: pointer;
  }
  img{
    border-radius: 30px
  }